#zg_background{

	width: 100%;
	height: 100%;

	z-index: 0;
}

#zg_game{

	width: 100%;
	height: 100%;
	z-index: 1;

}

#zg_landscape_message{

	width: 100%;
	height: 100%;
	/* background-image: url('../media/img/rotate.png'); */

	background-repeat: no-repeat;
	background-position: center center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	visibility: hidden;

}

.zg_landscape_message  {

	background: #fff;
	visibility: visible;
	background-image: url('../media/img/landscape.png');
	background-repeat: no-repeat;
	background-position: center center !important;
	height: 100% !important;

}

/*html, body{

	overflow: hidden;
	height: 100%;
	background-color: #000;

}*/


/*canvas{

	position: absolute;
	left: 50%;
	margin-left: -384px;
	top: 100%;
	margin-top: -1024px;
	z-index: 1;

}*/

/*.zg_html{

	overflow: hidden;
	height: 100%;
	background-color: #000;

}*/

/*.zg_body{

	overflow: hidden;
	height: 100%;
	background-color: #000;

}*/

.zg_game_logo{

	position: absolute;
	visibility: hidden;

}

#zg_adv_top{
	font-weight: 800;
	line-height: 1.4;
}

#zg_adv_bottom{
	font-weight: 800;
	line-height: 1.4;
	padding-top: 10%;
}