.user---input{
	background-color: "black" !important;
	border:2px solid black !important;
	border-radius: 10px !important;
	font-size:20px !important;
	text-align:center!important;
	font-weight:bold !important;
	font-style:italic !important;
}

.user---input:focus{
	outline:none !important;
}

